In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
### Data input
pop_df = pd.read_csv('../../data/raw/ACSST5Y2014.S2301-Data.csv', skiprows = 1) # population and employment rate

In [63]:
pop_df

,Geography,Geographic Area Name,Total!!Estimate!!Population 16 years and over,Annotation of Total!!Estimate!!Population 16 years and over,Total!!Margin of Error!!Population 16 years and over,Annotation of Total!!Margin of Error!!Population 16 years and over,In labor force!!Estimate!!Population 16 years and over,In labor force!!Margin of Error!!Population 16 years and over,Annotation of In labor force!!Margin of Error!!Population 16 years and over,Annotation of In labor force!!Estimate!!Population 16 years and over,...,Annotation of In labor force!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Unnamed: 482
0,310M200US10100,"Aberdeen, SD Micro Area",33087,NaN,189,NaN,70.6,1.3,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
1,310M200US10140,"Aberdeen, WA Micro Area",58275,NaN,191,NaN,52.8,1.3,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,310M200US10180,"Abilene, TX Metro Area",131984,NaN,239,NaN,59.3,1.7,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,310M200US10220,"Ada, OK Micro Area",29870,NaN,95,NaN,62.2,1.5,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,310M200US10260,"Adjuntas, PR Micro Area",15080,NaN,88,NaN,42.4,2.3,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,310M200US49660,"Youngstown-Warren-Boardman, OH-PA Metro Area",456448,NaN,413,NaN,57.9,0.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
925,310M200US49700,"Yuba City, CA Metro Area",126841,NaN,306,NaN,59.8,0.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
926,310M200US49740,"Yuma, AZ Metro Area",153342,NaN,341,NaN,55.3,0.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
927,310M200US49780,"Zanesville, OH Micro Area",68178,NaN,179,NaN,60.0,1.2,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
928,310M200US49820,"Zapata, TX Micro Area",9868,NaN,150,NaN,57.6,3.6,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [64]:
len(pop_df)

929

In [65]:
pop_df.columns

Index(['Geography', 'Geographic Area Name',
       'Total!!Estimate!!Population 16 years and over',
       'Annotation of Total!!Estimate!!Population 16 years and over',
       'Total!!Margin of Error!!Population 16 years and over',
       'Annotation of Total!!Margin of Error!!Population 16 years and over',
       'In labor force!!Estimate!!Population 16 years and over',
       'In labor force!!Margin of Error!!Population 16 years and over',
       'Annotation of In labor force!!Margin of Error!!Population 16 years and over',
       'Annotation of In labor force!!Estimate!!Population 16 years and over',
       ...
       'Annotation of In labor force!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Unnamed: 482'],
      dtype='object', length=483)

In [66]:
#pop_df.loc[: , (pop_df != 'Margin of Error').all()]
filtered_cols = [col for col in pop_df.columns if 'Margin of Error' not in col]
filtered_cols = [col for col in filtered_cols if 'SEX' not in col]
filtered_cols = [col for col in filtered_cols if 'RACE' not in col]
filtered_cols = [col for col in filtered_cols if 'Percent' not in col]
filtered_cols = [col for col in filtered_cols if 'PERCENT' not in col]
filtered_cols = [col for col in filtered_cols if 'Annotation' not in col]
filtered_cols = [col for col in filtered_cols if 'Unnamed' not in col]
filtered_cols = [col for col in filtered_cols if 'EDUCATIONAL' not in col]
filtered_cols = [col for col in filtered_cols if 'DISABILITY' not in col]
filtered_cols = [col for col in filtered_cols if 'White' not in col]
filtered_cols = [col for col in filtered_cols if 'race' not in col]
filtered_cols = [col for col in filtered_cols if 'AGE' not in col]
filtered_cols = [col for col in filtered_cols if 'POVERTY' not in col]
filtered_cols = [col for col in filtered_cols if '20' not in col]
filtered_cols

['Geography',
 'Geographic Area Name',
 'Total!!Estimate!!Population 16 years and over',
 'In labor force!!Estimate!!Population 16 years and over',
 'Employed!!Estimate!!Population 16 years and over',
 'Unemployment rate!!Estimate!!Population 16 years and over']

In [67]:
#len(pop_df)

In [68]:
pop_df = pop_df.filter(filtered_cols)

In [69]:
pop_df.head()

,Geography,Geographic Area Name,Total!!Estimate!!Population 16 years and over,In labor force!!Estimate!!Population 16 years and over,Employed!!Estimate!!Population 16 years and over,Unemployment rate!!Estimate!!Population 16 years and over
0,310M200US10100,"Aberdeen, SD Micro Area",33087,70.6,68.7,2.4
1,310M200US10140,"Aberdeen, WA Micro Area",58275,52.8,44.8,15.0
2,310M200US10180,"Abilene, TX Metro Area",131984,59.3,53.3,6.4
3,310M200US10220,"Ada, OK Micro Area",29870,62.2,58.0,6.8
4,310M200US10260,"Adjuntas, PR Micro Area",15080,42.4,28.0,34.0

In [70]:
pop_df = pop_df.set_index('Geographic Area Name')
pop_df = pop_df.filter(like="Metro Area", axis = 0)
pop_df.index = pop_df.index.str.replace(' Metro Area', '')

In [71]:
pop_df.head()

,Geography,Total!!Estimate!!Population 16 years and over,In labor force!!Estimate!!Population 16 years and over,Employed!!Estimate!!Population 16 years and over,Unemployment rate!!Estimate!!Population 16 years and over
Geographic Area Name,,,,,
"Abilene, TX",310M200US10180,131984,59.3,53.3,6.4
"Aguadilla-Isabela, PR",310M200US10380,265643,40.1,30.0,25.2
"Akron, OH",310M200US10420,570055,65.5,59.1,9.7
"Albany, GA",310M200US10500,121559,58.3,49.3,15.0
"Albany, OR",310M200US10540,93268,58.1,51.5,11.2

In [72]:
### Create empty dataframe with ACS MSA names as index:
#po_df = pd.DataFrame(index = pop_df.index)

In [73]:
employment_rate = pop_df['Employed!!Estimate!!Population 16 years and over']/pop_df['In labor force!!Estimate!!Population 16 years and over']

In [74]:
employment_rate

Geographic Area Name
Abilene, TX                          0.898820
Aguadilla-Isabela, PR                0.748130
Akron, OH                            0.902290
Albany, GA                           0.845626
Albany, OR                           0.886403
                                       ...
Yakima, WA                           0.898387
York-Hanover, PA                     0.915430
Youngstown-Warren-Boardman, OH-PA    0.903282
Yuba City, CA                        0.819398
Yuma, AZ                             0.831826
Length: 388, dtype: float64

In [75]:
unemployment_rate_check = (1 - employment_rate)*100

In [76]:
unemployment_rate_check

Geographic Area Name
Abilene, TX                          10.118044
Aguadilla-Isabela, PR                25.187032
Akron, OH                             9.770992
Albany, GA                           15.437393
Albany, OR                           11.359725
                                       ...
Yakima, WA                           10.161290
York-Hanover, PA                      8.456973
Youngstown-Warren-Boardman, OH-PA     9.671848
Yuba City, CA                        18.060201
Yuma, AZ                             16.817360
Length: 388, dtype: float64

In [77]:
#SLightly matches unemployment check?

unemployment_rate = pop_df['Unemployment rate!!Estimate!!Population 16 years and over']

In [78]:
unemployment_rate

Geographic Area Name
Abilene, TX                           6.4
Aguadilla-Isabela, PR                25.2
Akron, OH                             9.7
Albany, GA                           15.0
Albany, OR                           11.2
                                     ...
Yakima, WA                           10.0
York-Hanover, PA                      8.3
Youngstown-Warren-Boardman, OH-PA     9.4
Yuba City, CA                        15.4
Yuma, AZ                             13.4
Name: Unemployment rate!!Estimate!!Population 16 years and over, Length: 388, dtype: float64

In [79]:
filtered_cols = [col for col in filtered_cols if 'Employed' not in col]
filtered_cols = [col for col in filtered_cols if 'labor' not in col]
filtered_cols = [col for col in filtered_cols if 'Total' not in col]
filtered_cols = [col for col in filtered_cols if 'Geography' not in col]
filtered_cols

['Geographic Area Name',
 'Unemployment rate!!Estimate!!Population 16 years and over']

In [80]:
pop_df = pop_df.filter(filtered_cols)

In [81]:
pop_df.head()

                       Unemployment rate!!Estimate!!Population 16 years and over
Geographic Area Name
Abilene, TX                                                          6.4
Aguadilla-Isabela, PR                                               25.2
Akron, OH                                                            9.7
Albany, GA                                                          15.0
Albany, OR                                                          11.2

In [82]:
pop_df = pop_df.rename(columns = {"Unemployment rate!!Estimate!!Population 16 years and over": "unemp"})

In [83]:
pop_df.head()

                       unemp
Geographic Area Name
Abilene, TX              6.4
Aguadilla-Isabela, PR   25.2
Akron, OH                9.7
Albany, GA              15.0
Albany, OR              11.2

In [84]:
#pop_df.to_csv('data-aggregation-pop.csv', index = False)
from pathlib import Path  
filepath = Path('../../data/tidy/data-aggregation-pop.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
pop_df.to_csv(filepath)