In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### Data input

trf_df = pd.read_excel('../../data/raw/complete-data-2021-umr-by-tti.xlsx') # traffic congestion

In [3]:
len(trf_df)

6609

In [4]:
trf_df.columns

Index(['Area Group', 'Urban Area', 'Primary', 'Population', 'Year',
       'Population.1', 'Unnamed: 6', 'Auto', 'Freeway', 'Arterial Street',
       'Cost Components', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Congested', 'Congested ', 'Number of Rush',
       'Annual Excess Fuel Consumed', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Annual Hours of Delay', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Travel Time Index', 'Unnamed: 26',
       'Commuter Stress Index', 'Unnamed: 28', 'Freeway Planning Time Index',
       'Unnamed: 30', 'Annual Congestion Cost', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Truck-based Statistics', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Annual Greenhouse Gases (CO2) Produced', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Ranks for All 494 Urban Areas (2014 through 2020 only)',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59'],
      dtype='object')

In [5]:
trf_df.head()

,Area Group,Urban Area,Primary,Population,Year,Population.1,Unnamed: 6,Auto,Freeway,Arterial Street,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,NaN,NaN,State,Group,NaN,(000),Rank,Commuters,Daily Vehicle-,Daily Vehicle-,...,NaN,Wasted Fuel,Annual,Delay per,Travel Time,Annual Cong,Cost per,Annual Truck,Wasted Fuel,Truck Cong
1,NaN,NaN,Code,NaN,NaN,NaN,NaN,(000),Miles of Travel,Miles of Travel,...,Wasted Fuel,per Commuter,Delay,Commuter,Index,Cost,Commuter,Delay,(Trucks),Cost
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(000),(000),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101.0,Akron OH,OH,Med,1982.0,515,53,205,2745,2120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
trf_df = trf_df[['Urban Area', 'Year', 'Annual Hours of Delay', 'Travel Time Index', 'Freeway', 'Arterial Street']]
trf_df = trf_df[trf_df['Year'] == 2019]

In [7]:
#trf_df = trf_df.filter(filtered_cols)

In [8]:
trf_df = trf_df.rename(columns={"Urban Area": "Geographic Area Name"})

In [9]:
trf_df = trf_df.set_index('Geographic Area Name')
#trf_df.index = trf_df.index.str.replace('Urban Area', 'Geographic Area Name')

In [10]:
trf_df

,Year,Annual Hours of Delay,Travel Time Index,Freeway,Arterial Street
Geographic Area Name,,,,,
Akron OH,2019.0,15835,1.1,6107,4669
Albany-Schenectady NY,2019.0,15617,1.15,6569,5442
Albuquerque NM,2019.0,21780,1.17,6037,7975
Allentown PA-NJ,2019.0,14953,1.16,5490,5266
Anchorage AK,2019.0,7304,1.18,950,2081
...,...,...,...,...,...
York PA,2019.0,5225,1.09,NaN,NaN
Youngstown OH-PA,2019.0,6885,1.05,NaN,NaN
Yuba City CA,2019.0,2573,1.16,NaN,NaN
Yuma AZ-CA,2019.0,2689,1.09,NaN,NaN
Zephyrhills FL,2019.0,1305,1.11,NaN,NaN

In [11]:
ahd_hr = trf_df['Annual Hours of Delay']

In [16]:
fwy_vmt = trf_df['Freeway']

In [17]:
atl_vmt = trf_df['Arterial Street']

In [18]:
trf_df.to_csv('data-aggregation-traffic.csv', index = False)