In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
### Data input
pop_df = pd.read_csv('../../data/raw/ACSST5Y2014.S2301-Data.csv', skiprows = 1) # population and employment rate

In [4]:
pop_df

,Geography,Geographic Area Name,Total!!Estimate!!Population 16 years and over,Annotation of Total!!Estimate!!Population 16 years and over,Total!!Margin of Error!!Population 16 years and over,Annotation of Total!!Margin of Error!!Population 16 years and over,In labor force!!Estimate!!Population 16 years and over,In labor force!!Margin of Error!!Population 16 years and over,Annotation of In labor force!!Margin of Error!!Population 16 years and over,Annotation of In labor force!!Estimate!!Population 16 years and over,...,Annotation of In labor force!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over,Annotation of Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over,Unnamed: 482
0,310M200US10100,"Aberdeen, SD Micro Area",33087,NaN,189,NaN,70.6,1.3,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
1,310M200US10140,"Aberdeen, WA Micro Area",58275,NaN,191,NaN,52.8,1.3,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,310M200US10180,"Abilene, TX Metro Area",131984,NaN,239,NaN,59.3,1.7,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,310M200US10220,"Ada, OK Micro Area",29870,NaN,95,NaN,62.2,1.5,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,310M200US10260,"Adjuntas, PR Micro Area",15080,NaN,88,NaN,42.4,2.3,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,310M200US49660,"Youngstown-Warren-Boardman, OH-PA Metro Area",456448,NaN,413,NaN,57.9,0.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
925,310M200US49700,"Yuba City, CA Metro Area",126841,NaN,306,NaN,59.8,0.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
926,310M200US49740,"Yuma, AZ Metro Area",153342,NaN,341,NaN,55.3,0.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
927,310M200US49780,"Zanesville, OH Micro Area",68178,NaN,179,NaN,60.0,1.2,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
928,310M200US49820,"Zapata, TX Micro Area",9868,NaN,150,NaN,57.6,3.6,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [5]:
len(pop_df)

929

In [6]:
pop_df.columns

Index(['Geography', 'Geographic Area Name',
       'Total!!Estimate!!Population 16 years and over',
       'Annotation of Total!!Estimate!!Population 16 years and over',
       'Total!!Margin of Error!!Population 16 years and over',
       'Annotation of Total!!Margin of Error!!Population 16 years and over',
       'In labor force!!Estimate!!Population 16 years and over',
       'In labor force!!Margin of Error!!Population 16 years and over',
       'Annotation of In labor force!!Margin of Error!!Population 16 years and over',
       'Annotation of In labor force!!Estimate!!Population 16 years and over',
       ...
       'Annotation of In labor force!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Annotation of Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over',
       'Unnamed: 482'],
      dtype='object', length=483)

In [7]:
#pop_df.loc[: , (pop_df != 'Margin of Error').all()]
filtered_cols = [col for col in pop_df.columns if 'Margin of Error' not in col]
filtered_cols = [col for col in filtered_cols if 'SEX' not in col]
filtered_cols = [col for col in filtered_cols if 'RACE' not in col]
filtered_cols = [col for col in filtered_cols if 'Percent' not in col]
filtered_cols = [col for col in filtered_cols if 'PERCENT' not in col]
filtered_cols = [col for col in filtered_cols if 'Annotation' not in col]
filtered_cols = [col for col in filtered_cols if 'Unnamed' not in col]
filtered_cols = [col for col in filtered_cols if 'EDUCATIONAL' not in col]
filtered_cols = [col for col in filtered_cols if 'DISABILITY' not in col]
filtered_cols = [col for col in filtered_cols if 'White' not in col]
filtered_cols = [col for col in filtered_cols if 'race' not in col]
filtered_cols

['Geography',
 'Geographic Area Name',
 'Total!!Estimate!!Population 16 years and over',
 'In labor force!!Estimate!!Population 16 years and over',
 'Employed!!Estimate!!Population 16 years and over',
 'Unemployment rate!!Estimate!!Population 16 years and over',
 'Total!!Estimate!!AGE!!16 to 19 years',
 'In labor force!!Estimate!!AGE!!16 to 19 years',
 'Employed!!Estimate!!AGE!!16 to 19 years',
 'Unemployment rate!!Estimate!!AGE!!16 to 19 years',
 'Total!!Estimate!!AGE!!20 to 24 years',
 'In labor force!!Estimate!!AGE!!20 to 24 years',
 'Employed!!Estimate!!AGE!!20 to 24 years',
 'Unemployment rate!!Estimate!!AGE!!20 to 24 years',
 'Total!!Estimate!!AGE!!25 to 44 years',
 'In labor force!!Estimate!!AGE!!25 to 44 years',
 'Employed!!Estimate!!AGE!!25 to 44 years',
 'Unemployment rate!!Estimate!!AGE!!25 to 44 years',
 'Total!!Estimate!!AGE!!45 to 54 years',
 'In labor force!!Estimate!!AGE!!45 to 54 years',
 'Employed!!Estimate!!AGE!!45 to 54 years',
 'Unemployment rate!!Estimate!!AGE!!45 to 54 years',
 'Total!!Estimate!!AGE!!55 to 64 years',
 'In labor force!!Estimate!!AGE!!55 to 64 years',
 'Employed!!Estimate!!AGE!!55 to 64 years',
 'Unemployment rate!!Estimate!!AGE!!55 to 64 years',
 'Total!!Estimate!!AGE!!65 to 74 years',
 'In labor force!!Estimate!!AGE!!65 to 74 years',
 'Employed!!Estimate!!AGE!!65 to 74 years',
 'Unemployment rate!!Estimate!!AGE!!65 to 74 years',
 'Total!!Estimate!!AGE!!75 years and over',
 'In labor force!!Estimate!!AGE!!75 years and over',
 'Employed!!Estimate!!AGE!!75 years and over',
 'Unemployment rate!!Estimate!!AGE!!75 years and over',
 'Total!!Estimate!!Population 20 to 64 years',
 'In labor force!!Estimate!!Population 20 to 64 years',
 'Employed!!Estimate!!Population 20 to 64 years',
 'Unemployment rate!!Estimate!!Population 20 to 64 years',
 'Total!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level',
 'In labor force!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level',
 'Employed!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level',
 'Unemployment rate!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level']

In [8]:
#len(pop_df)

In [9]:
pop_df = pop_df.filter(filtered_cols)

In [10]:
pop_df.head()

,Geography,Geographic Area Name,Total!!Estimate!!Population 16 years and over,In labor force!!Estimate!!Population 16 years and over,Employed!!Estimate!!Population 16 years and over,Unemployment rate!!Estimate!!Population 16 years and over,Total!!Estimate!!AGE!!16 to 19 years,In labor force!!Estimate!!AGE!!16 to 19 years,Employed!!Estimate!!AGE!!16 to 19 years,Unemployment rate!!Estimate!!AGE!!16 to 19 years,...,Employed!!Estimate!!AGE!!75 years and over,Unemployment rate!!Estimate!!AGE!!75 years and over,Total!!Estimate!!Population 20 to 64 years,In labor force!!Estimate!!Population 20 to 64 years,Employed!!Estimate!!Population 20 to 64 years,Unemployment rate!!Estimate!!Population 20 to 64 years,Total!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,In labor force!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,Employed!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,Unemployment rate!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
0,310M200US10100,"Aberdeen, SD Micro Area",33087,70.6,68.7,2.4,2483,55.7,51.3,7.9,...,10.1,1.1,23808,85.9,83.7,2.2,2365,65.5,59.5,9.2
1,310M200US10140,"Aberdeen, WA Micro Area",58275,52.8,44.8,15.0,3273,40.6,27.1,33.3,...,5.1,4.1,42475,65.8,56.2,14.4,7362,45.0,29.1,35.1
2,310M200US10180,"Abilene, TX Metro Area",131984,59.3,53.3,6.4,10188,41.2,33.0,18.0,...,8.1,1.5,98352,70.9,63.8,6.0,15289,52.3,41.7,19.6
3,310M200US10220,"Ada, OK Micro Area",29870,62.2,58.0,6.8,2252,44.9,36.1,19.6,...,8.5,0.0,21854,75.6,70.6,6.5,3980,54.5,43.7,19.9
4,310M200US10260,"Adjuntas, PR Micro Area",15080,42.4,28.0,34.0,1128,12.1,0.0,100.0,...,6.4,5.1,11120,55.0,36.6,33.3,6555,43.5,18.4,57.6

In [11]:
pop_df = pop_df.set_index('Geographic Area Name')
pop_df = pop_df.filter(like="Metro Area", axis = 0)
pop_df.index = pop_df.index.str.replace(' Metro Area', '')

In [12]:
pop_df.head()

,Geography,Total!!Estimate!!Population 16 years and over,In labor force!!Estimate!!Population 16 years and over,Employed!!Estimate!!Population 16 years and over,Unemployment rate!!Estimate!!Population 16 years and over,Total!!Estimate!!AGE!!16 to 19 years,In labor force!!Estimate!!AGE!!16 to 19 years,Employed!!Estimate!!AGE!!16 to 19 years,Unemployment rate!!Estimate!!AGE!!16 to 19 years,Total!!Estimate!!AGE!!20 to 24 years,...,Employed!!Estimate!!AGE!!75 years and over,Unemployment rate!!Estimate!!AGE!!75 years and over,Total!!Estimate!!Population 20 to 64 years,In labor force!!Estimate!!Population 20 to 64 years,Employed!!Estimate!!Population 20 to 64 years,Unemployment rate!!Estimate!!Population 20 to 64 years,Total!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,In labor force!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,Employed!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,Unemployment rate!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Abilene, TX",310M200US10180,131984,59.3,53.3,6.4,10188,41.2,33.0,18.0,16573,...,8.1,1.5,98352,70.9,63.8,6.0,15289,52.3,41.7,19.6
"Aguadilla-Isabela, PR",310M200US10380,265643,40.1,30.0,25.2,19232,14.0,3.9,71.9,22522,...,1.4,0.0,192817,52.9,39.9,24.4,97143,42.0,23.4,44.3
"Akron, OH",310M200US10420,570055,65.5,59.1,9.7,41457,46.3,32.4,30.0,53561,...,5.2,8.7,423341,79.6,72.6,8.7,59727,57.3,38.2,33.3
"Albany, GA",310M200US10500,121559,58.3,49.3,15.0,9505,38.0,24.4,35.8,12284,...,4.6,2.0,91862,70.4,60.1,14.1,20909,50.3,29.6,41.1
"Albany, OR",310M200US10540,93268,58.1,51.5,11.2,5635,38.9,26.5,32.0,7220,...,4.1,10.1,68465,72.6,64.8,10.5,12147,48.8,33.9,30.4

In [13]:
### Create empty dataframe with ACS MSA names as index:
#po_df = pd.DataFrame(index = pop_df.index)

In [14]:
employment_rate = pop_df['Employed!!Estimate!!Population 16 years and over']

In [15]:
employment_rate

Geographic Area Name
Abilene, TX                          53.3
Aguadilla-Isabela, PR                30.0
Akron, OH                            59.1
Albany, GA                           49.3
Albany, OR                           51.5
                                     ...
Yakima, WA                           55.7
York-Hanover, PA                     61.7
Youngstown-Warren-Boardman, OH-PA    52.3
Yuba City, CA                        49.0
Yuma, AZ                             46.0
Name: Employed!!Estimate!!Population 16 years and over, Length: 388, dtype: float64

In [16]:
unemployment_rate_check = 100 - employment_rate

In [17]:
unemployment_rate_check

Geographic Area Name
Abilene, TX                          46.7
Aguadilla-Isabela, PR                70.0
Akron, OH                            40.9
Albany, GA                           50.7
Albany, OR                           48.5
                                     ...
Yakima, WA                           44.3
York-Hanover, PA                     38.3
Youngstown-Warren-Boardman, OH-PA    47.7
Yuba City, CA                        51.0
Yuma, AZ                             54.0
Name: Employed!!Estimate!!Population 16 years and over, Length: 388, dtype: float64

In [18]:
#Does not match unemployment check

unemployment_rate = pop_df['Unemployment rate!!Estimate!!Population 16 years and over']

In [19]:
unemployment_rate

Geographic Area Name
Abilene, TX                           6.4
Aguadilla-Isabela, PR                25.2
Akron, OH                             9.7
Albany, GA                           15.0
Albany, OR                           11.2
                                     ...
Yakima, WA                           10.0
York-Hanover, PA                      8.3
Youngstown-Warren-Boardman, OH-PA     9.4
Yuba City, CA                        15.4
Yuma, AZ                             13.4
Name: Unemployment rate!!Estimate!!Population 16 years and over, Length: 388, dtype: float64

In [20]:
#pop_df.to_csv('data-aggregation-pop.csv', index = False)
from pathlib import Path  
filepath = Path('../../data/tidy/data-aggregation-pop.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
pop_df.to_csv(filepath)