In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### Data input

inc_df = pd.read_csv('../../data/raw/ACSST5Y2014.S1903-Data.csv', skiprows = 1) # median income

In [3]:
len(inc_df)

930

In [4]:
inc_df.columns

Index(['Geography', 'Geographic Area Name', 'Total!!Estimate!!Households',
       'Annotation of Total!!Estimate!!Households',
       'Total!!Margin of Error!!Households',
       'Annotation of Total!!Margin of Error!!Households',
       'Median income (dollars)!!Estimate!!Households',
       'Median income (dollars)!!Margin of Error!!Households',
       'Annotation of Median income (dollars)!!Margin of Error!!Households',
       'Annotation of Median income (dollars)!!Estimate!!Households',
       ...
       'Annotation of Median income (dollars)!!Margin of Error!!PERCENT IMPUTED!!Family income in the past 12 months',
       'Total!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Total!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Annotation of Total!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Annotation of Total!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Median income (dollars)!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Annotation of Median income (dollars)!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Median income (dollars)!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Annotation of Median income (dollars)!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months',
       'Unnamed: 242'],
      dtype='object', length=243)

In [5]:
inc_df.head()

,Geography,Geographic Area Name,Total!!Estimate!!Households,Annotation of Total!!Estimate!!Households,Total!!Margin of Error!!Households,Annotation of Total!!Margin of Error!!Households,Median income (dollars)!!Estimate!!Households,Median income (dollars)!!Margin of Error!!Households,Annotation of Median income (dollars)!!Margin of Error!!Households,Annotation of Median income (dollars)!!Estimate!!Households,...,Annotation of Median income (dollars)!!Margin of Error!!PERCENT IMPUTED!!Family income in the past 12 months,Total!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Total!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Annotation of Total!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Annotation of Total!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Median income (dollars)!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Annotation of Median income (dollars)!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Median income (dollars)!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Annotation of Median income (dollars)!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Unnamed: 242
0,0100000US,United States,116211092,NaN,230463,NaN,53482,95,NaN,NaN,...,(X),27.2,(X),(X),NaN,(X),(X),(X),(X),NaN
1,310M200US10100,"Aberdeen, SD Micro Area",17383,NaN,313,NaN,52641,1641,NaN,NaN,...,(X),25.4,(X),(X),NaN,(X),(X),(X),(X),NaN
2,310M200US10140,"Aberdeen, WA Micro Area",27318,NaN,632,NaN,43379,1453,NaN,NaN,...,(X),26.3,(X),(X),NaN,(X),(X),(X),(X),NaN
3,310M200US10180,"Abilene, TX Metro Area",60343,NaN,1258,NaN,44249,1218,NaN,NaN,...,(X),28.8,(X),(X),NaN,(X),(X),(X),(X),NaN
4,310M200US10220,"Ada, OK Micro Area",14650,NaN,212,NaN,42566,1648,NaN,NaN,...,(X),38.8,(X),(X),NaN,(X),(X),(X),(X),NaN

In [6]:
#pop_df.loc[: , (pop_df != 'Margin of Error').all()]
filtered_cols = [col for col in inc_df.columns if 'Margin of Error' not in col]
filtered_cols = [col for col in filtered_cols if 'Mean' not in col]
filtered_cols = [col for col in filtered_cols if 'id' not in col]
filtered_cols = [col for col in filtered_cols if 'Percent' not in col]
filtered_cols = [col for col in filtered_cols if 'PERCENT' not in col]
filtered_cols = [col for col in filtered_cols if 'Number' not in col]
filtered_cols = [col for col in filtered_cols if 'Annotation' not in col]
filtered_cols = [col for col in filtered_cols if 'White' not in col]
filtered_cols = [col for col in filtered_cols if 'race' not in col]
filtered_cols = [col for col in filtered_cols if 'Female' not in col]
filtered_cols = [col for col in filtered_cols if 'Male' not in col]
filtered_cols = [col for col in filtered_cols if 'Families' not in col]
filtered_cols = [col for col in filtered_cols if 'Nonfamily' not in col]
filtered_cols = [col for col in filtered_cols if 'Unnamed' not in col]
filtered_cols = [col for col in filtered_cols if 'Geography' not in col]
#filtered_cols = [col for col in filtered_cols if 'Annotation' in col]
filtered_cols

['Geographic Area Name',
 'Total!!Estimate!!Households',
 'Median income (dollars)!!Estimate!!Households',
 'Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years',
 'Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years',
 'Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years',
 'Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years',
 'Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years',
 'Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years',
 'Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over',
 'Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over']

In [7]:
inc_df = inc_df.filter(filtered_cols)

In [8]:
inc_df.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over
0,United States,116211092,53482,4.0,25788,33.4,58398,39.7,65027,22.8,37945
1,"Aberdeen, SD Micro Area",17383,52641,5.8,19289,31.7,63152,37.7,64612,24.8,34524
2,"Aberdeen, WA Micro Area",27318,43379,3.7,23413,25.5,47983,42.7,50491,28.0,34202
3,"Abilene, TX Metro Area",60343,44249,8.9,23489,31.8,50304,34.9,54749,24.4,35902
4,"Ada, OK Micro Area",14650,42566,8.0,20208,31.8,44491,34.5,54006,25.7,36197

In [9]:
inc_df = inc_df.set_index('Geographic Area Name')

In [10]:
inc_df = inc_df.filter(like="Metro Area", axis = 0)
inc_df.index = inc_df.index.str.replace(' Metro Area', '')

In [11]:
len(inc_df)

388

In [12]:
# def tidy_acs_df(df):
#     #....
#     return(df)

In [13]:
#mods_df = tidy_acs_df(pop_df)

In [14]:
#inc_df = tidy_acs_df(inc_df)

In [15]:
inc_df.head()

,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over
Geographic Area Name,,,,,,,,,,
"Abilene, TX",60343,44249,8.9,23489,31.8,50304,34.9,54749,24.4,35902
"Aguadilla-Isabela, PR",109620,15681,1.9,6603,27.6,16458,39.8,17419,30.7,14014
"Akron, OH",281752,50776,5.2,19511,30.0,56281,40.9,62220,23.9,37709
"Albany, GA",58250,36805,4.8,14867,32.8,36729,39.9,45370,22.5,30910
"Albany, OR",44942,44965,4.9,21652,29.8,50436,38.3,55601,26.9,36414

In [16]:
#med_income = inc_df['Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households']

In [17]:
#inc_df.to_csv('data-aggregation-income.csv', index = False)

In [18]:
from pathlib import Path  
filepath = Path('../../data/tidy/data-aggregation-income.csv', index = False)

In [19]:
filepath.parent.mkdir(parents=True, exist_ok=True)

In [20]:
#med_income = inc_df['Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households']
inc_df.to_csv(filepath)
#inc_df.to_csv('data-aggregation-income.csv', index = False)