In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../../data/tidy/combined-dataset.csv', index_col=[0])

In [3]:
#g = sns.PairGrid(df, diag_sharey=False, corner=True, dropna=True)
# g.map_lower(sns.scatterplot)
# g.map_diag(sns.histplot)
# plt.savefig('../../figures/pairwise-combined.png',dpi=300)

In [4]:
trf = pd.read_csv('../../data/tidy/tti-traffic.csv')

In [5]:
df = df.merge(trf, left_on='msa', right_on='msa', how='left')

In [6]:
df.head()

,msa,households,med_hh_inc_dol,ms_cara,ms_carp,ms_pt,ms_taxi,ms_bike,ms_walk,ms_wfh,...,cf_services_phh,cf_phh,cf,auto_commuters_y,annual_excess_fuel_consumed_commuters_y,ahd_y,tti_y,dvmt_freeway_y,ahd_truck_y,vmt_arterial_y
0,"Abilene, TX",60343,44249,0.806459,0.117276,0.006420,0.017641,0.002089,0.024034,0.026081,...,5.004892,49.144098,3.218545e+06,62.0,788.0,1694.0,1.06,NaN,93.0,NaN
1,"Akron, OH",281752,50776,0.862746,0.066992,0.014979,0.005027,0.001327,0.016849,0.032080,...,6.071775,50.968122,8.188946e+06,298.0,6453.0,14470.0,1.11,5703.0,608.0,4460.0
2,"Albany, GA",58250,36805,0.804208,0.123413,0.010765,0.007939,0.001490,0.019618,0.032567,...,5.050888,46.428323,2.652636e+06,53.0,810.0,1752.0,1.07,NaN,93.0,NaN
3,"Albany-Schenectady-Troy, NY",347401,61841,0.804724,0.076936,0.032160,0.009713,0.002339,0.036837,0.037290,...,6.058857,47.021127,1.844197e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Albuquerque, NM",344168,48875,0.799726,0.095175,0.018131,0.013973,0.009816,0.018735,0.044445,...,5.576700,49.593381,1.516134e+07,380.0,8950.0,18864.0,1.15,5500.0,909.0,7887.0

In [ ]:
g = sns.PairGrid(df, diag_sharey=False, corner=True, dropna=True)
g.map_lower(sns.scatterplot)
g.map_diag(sns.histplot)
#plt.savefig('../../figures/pairwise-combined.png',dpi=300)